.navbar {
  display: flex;
  justify-content: space-between;
  margin-block: var(--space-lg);
}

.navbar__logo {
  width: var(--navbar-logo-width);
  height: auto;
}

.navbar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2xl);
  list-style-type: none;
}

.navbar__item-link {
  color: var(--color-text-primary);
}

.navbar__item-link:hover,
.navbar__item-link:active {
  color: var(--color-accent);
  text-decoration: underline;
  text-decoration-thickness: var(--space-xs);
  text-underline-offset: var(--space-md);
}

/* ===== HERO ===== */

.hero {
  background-color: var(--color-bg-secondary);
  padding-block: var(--space-3xl);
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  max-width: 28rem;
}
.hero__eyebrow {
  font-size: var(--fs-base);
  color: var(--color-accent);
}

.hero__title {
  font-size: var(--fs-hero);
  color: var(--color-text-primary);
}

.hero__accent {
  color: var(--color-accent);
}

.hero__description {
  color: var(--color-text-primary);
  font-size: var(--fs-md);
  line-height: 1.5;
}

.hero__buttons {
  display: flex;
  gap: var(--space-base);
}

.hero__trust-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__trust-item {
  display: flex;
  gap: var(--space-sm);
}
.hero__trust-icon {
  width: var(--space-base);
  height: auto;
}

.hero__trust-text {
  color: var(--color-text-muted);
  font-size: var(--fs-sm);
}

.hero__image-container {
  margin-block: auto;
}

/* ===== FEATURES ===== */

.features__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  align-items: center;
  padding-block: var(--space-3xl);
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: var(--space-2xl);
  row-gap: var(--space-xl);
}

.features__heading {
  color: var(--color-text-primary);
  font-size: var(--fs-3xl);
}

.features__heading::after {
  content: "";
  display: block;
  width: var(--space-5xl);
  height: var(--space-xs);
  background-color: var(--color-accent);
  margin-inline: auto;
  margin-top: var(--space-sm);
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-base);
  color: var(--color-text-primary);
  border-radius: var(--br-xl);
  background-color: var(--color-bg-secondary);
  padding: var(--space-3xl);
}

.features__title {
  font-size: var(--fs-2xl);
}

.features__description {
  font-size: var(--fs-md);
}

/* ===== TRUST SECTION ===== */

.trust {
  background-color: var(--color-bg-secondary);
}

.trust__container {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3xl);

  padding: var(--space-3xl) var(--space-2xl);
}

.trust__media {
  position: relative;
}
.trust__experience {
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent);
  padding: 4rem 2.5rem;
  align-items: flex-start;
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  border-radius: var(--br-xl);
}

.trust__experience-value {
  font-size: var(--fs-3xl);
}

.trust__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--space-2xl);
}

.trust__main-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.trust__eyebrow {
  color: var(--color-accent);
}

.trust__heading {
  color: var(--color-text-primary);
  font-size: var(--fs-2xl);
}

.trust__description {
  color: var(--color-text-primary);
}

.trust__stats {
  display: flex;
}

.trust__stat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.trust__stat-value {
  font-size: var(--fs-3xl);
  color: var(--color-text-muted);
}

.trust__stat-label {
  font-size: var(--fs-lg);
  color: var(--color-text-muted);
}

/* ===== PRICING ===== */

.pricing {
  color: var(--color-text-secondary);
  background-color: var(--color-bg-primary);
}

.pricing__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block: 50px;
}

.pricing__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}

.pricing__title {
  color: var(--color-text-primary);
  font-size: var(--fs-2xl);
}

.pricing__subtitle {
  color: var(--color-text-muted);
}

.pricing__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.pricing__card {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid var(--color-accent);
  padding-inline: 60px;
  padding-top: 50px;
  gap: 50px;
}

.pricing__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pricing__type {
  font-size: var(--fs-2xl);
}

.pricing__price {
  font-size: var(--fs-lg);
}

.fs--sm {
  font-size: var(--fs-sm);
}

.pricing__perks {
  list-style-image: url(./assets/icons/check-mark-accent.svg);
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pricing__card .btn {
  margin: 30px auto;
}

.pricing__card:nth-child(3) {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-gold-selected);
}

.pricing__card:nth-child(3) .pricing__type {
  color: var(--color-gold-selected);
}

.pricing__best-value-badge {
  position: absolute;
  top: 0.2rem; /* Badge exact positioning reasons */
  right: 0.2rem; /* Badge exact positioning reasons */
  background-color: var(--color-gold-selected);
  color: var(--color-text-secondary);
  transform: rotate(45deg) translate(32%); /* Badge exact positioning reasons */
  padding-inline: 60px;
  text-align: center;
}

/* ===== SUBSCRIPTION ===== */
/* ===== FAQS ===== */
/* ===== NEWSLETTER ===== */
/* ===== FOOTER ===== */
/* ===== UTILITY ===== */

.scroll-top {
  border-radius: var(--br-base);
  color: var(--color-text-secondary);
  background-color: var(--color-accent);
  padding: var(--space-sm) var(--space-base);
  position: fixed;
  z-index: 1;
  right: var(--space-2xl);
  bottom: var(--space-2xl);
  transition:
    background-color 150ms ease,
    transform 150ms ease;
}

.scroll-top:hover {
  background-color: var(--color-gold-hover);
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.2);
}

.scroll-top:focus-visible {
  outline: 2px solid var(--color-gold-selected);
  outline-offset: 4px;
}
