/* TABLET - DESIGN */

/* ===== HERO SPECIFIC DESIGN ===== */

@media (min-width: 961px) and (max-width: 1023.98px){
.hero__container {
  display: flex;
  flex-direction: row;
  gap: var(--space-2xl);
 
}

.hero__trust-items {
  flex-direction: row;
} }

/* ===== FEATURES ===== */

.features__grid {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-base);
}

/* ===== PRICING ===== */

.pricing__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 calc((100% - 5rem) / 2);
}

/* ===== NEWSLETTE =====  */

.newsletter__form input {
  grid-column: 2 / 4;
}

.newsletter__form button {
  grid-column: 4 / 5;
}

/* ===== FOOTER ===== */
