/* ===== MOBILE DESIGN - MOBILE FIRST ===== */

/* ===== RESET ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* ===== VARIABLES ===== */

:root {
  /* ===== COLOR ===== */

  --color-bg-primary: #051329;
  --color-bg-secondary: #02193a;
  --color-surface: #2f3a57;
  --color-primary: #051329;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #000;
  --color-accent: #3dd1b4;
  --color-gold-hover: #d8ae5c;
  --color-gold-hover-muted: #d8af5ca9;
  --color-gold-selected: #e9c176;
  --color-text-muted: #b2b5be;

  /* ===== FONT-SIZE ===== */

  --fs-xxs: 0.3rem; /* 4.8px */
  --fs-xs: 0.5rem; /* 8px */
  --fs-caption: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: clamp(0.875rem, 2.5vw, 1.1rem); /* 14px–17.6px */
  --fs-md: clamp(1.14rem, 2.5vw, 1.5rem); /* 18.24px–24px */
  --fs-lg: clamp(1.25rem, 2.5vw, 1.75rem); /* 20px–28px */
  --fs-xl: clamp(1.5rem, 2.5vw, 2rem); /* 24px–32px */
  --fs-2xl: clamp(2rem, 2.5vw, 4rem); /* 32px–64px */
  --fs-3xl: clamp(3rem, 2.5vw, 4.5rem); /* 48px–72px */
  --fs-hero: clamp(4rem, 2.5vw, 5rem); /* 64px–80px */

  /* ===== LAYOUT-VALUES ===== */

  --desktop-width: 90rem; /* 1440px */
  --loginscreen-width: 40rem; /* 640px */
  --navbar-logo-width: 14rem; /* 224px */

  /* ===== FONT-WEIGHT ===== */

  --fw-reg: 400;
  --fw-md: 500;
  --fw-sb: 600;
  --fw-bold: 700;
  --fw-bolder: 800;

  /* BORDER-RADIUS */

  --br-base: 0.5rem; /* 8px */
  --br-lg: 0.625rem; /* 10px */
  --br-xl: 0.75rem; /* 12px */
  --br-2xl: 0.875rem; /* 14px */
  --br-3xl: 1.25rem; /* 20px */

  /* ===== SPACING ===== */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 0.75rem; /* 12px */
  --space-base: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /*  32px  */
  --space-2xl: 3rem; /* 48px */
  --space-3xl: 4rem; /* 64px */
  --space-4xl: 5rem; /* 80px  */
  --space-5xl: 6rem; /* 96px */
}

/* ===== GLOBAL===== */

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-primary);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* I found this visually hidden solution online. */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ===== LAYOUT ===== */

.container {
  width: 100%;
  max-width: var(--desktop-width);
  margin-inline: auto;
  padding-inline: var(--space-lg);
}

/* ===== COMPONENTS ===== */

/* ===== BUTTONS ===== */

.btn {
  border-radius: var(--br-lg);
  padding: var(--space-md) var(--space-base);
  transition:
    background-color 150ms ease,
    transform 150ms ease;
  text-align: center;
  display: inline-block;
}

.btn--full-width {
  width: 100%;
}

.btn--primary {
  color: var(--color-text-secondary);
  background-color: var(--color-accent);
}

.btn--secondary {
  color: var(--color-text-primary);
  border: 1px solid var(--color-text-primary);
}

.btn--primary:hover,
.btn--secondary:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-gold-hover);
  box-shadow: 0 var(--space-sm) var(--space-base) rgb(0 0 0 / 0.2);
}

.btn--primary:focus-visible,
.btn--secondary:focus-visible,
.navbar__menu-toggle:focus-visible,
.navbar__item-link:focus-visible,
.navbar__item-link--mobile:focus-visible,
.navbar__logo-link:focus-visible,
.subscription__form-item input:focus-visible,
.subscription__form-item select:focus-visible,
.newsletter__form input:focus-visible,
.questions__title:focus-visible,
.subscription__form-checkbox input:focus-visible,
.subscription__form-checkbox a:focus-visible,
.footer-navigation__link:focus-visible,
.footer-navigation__connection-icon:focus-visible,
.subscription__login a:focus-visible,
.login__info input:focus-visible,
.login__forget a:focus-visible,
.scroll:focus-visible {
  outline: 2px solid var(--color-gold-selected);
  outline-offset: var(--space-xs);
  border-radius: var(--br-base);
}

.chevron-rotate {
  transition: transform 200ms ease;
}

.questions__item[open] .chevron-rotate {
  transform: rotate(180deg);
}
/* ===== NAVIGATION ===== */

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: var(--space-base) var(--space-lg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--color-bg-primary);
}

.navbar__menu-toggle {
  position: relative;
}

.navbar__menu-toggle-icon {
  background: none;
  border: none;
  cursor: pointer;
  list-style-type: none;
}

.navbar__items--mobile {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  list-style-type: none;
  padding: var(--space-2xl) var(--space-lg);
  border-radius: var(--br-lg);
  width: calc(50vw - 2rem);
  height: 60dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xl);
  z-index: 1;
}

.navbar__item--mobile {
  width: 100%;
}

.navbar__item-link--mobile {
  display: block;
  width: 100%;
  padding-block: var(--space-sm);
  border-radius: var(--br-lg);
  text-align: center;
  color: var(--color-text-primary);
}

.navbar__item--mobile:hover {
  background-color: var(--color-accent);
  border-radius: var(--br-lg);
  color: var(--color-accent);
}

.navbar__item-link--mobile:hover {
  color: var(--color-accent);
  outline: 1px solid var(--color-accent);
  display: block;
  width: 100%;
}

.navbar__item-link--mobile:visited {
  color: var(--color-text-primary);
}

.navbar__button--mobile {
  width: 100%;
  text-align: center;
}

.navbar__menu-icon {
  width: var(--space-3xl);
  height: auto;
}

.navbar__logo {
  width: var(--navbar-logo-width);
  height: auto;
}

.mobile--hidden {
  display: none;
}

/* ===== HERO ===== */

.hero {
  background-color: var(--color-bg-secondary);
  padding-block: var(--space-3xl);
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-2xl);
  margin-block: var(--space-2xl);
  padding-top: var(--space-2xl);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
.hero__kicker {
  font-size: var(--fs-sm);
  color: var(--color-accent);
  font-weight: var(--fw-reg);
}

.hero__title {
  font-size: var(--fs-xl);
  color: var(--color-text-primary);
  font-weight: var(--fw-bold);
}

.hero__accent {
  color: var(--color-accent);
  font-weight: var(--fw-bolder);
}

.hero__description {
  color: var(--color-text-muted);
  font-size: var(--fs-base);
  line-height: 1.6;
  font-weight: var(--fw-sb);
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.hero__trust {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-base);
}

.hero__trust-item {
  display: flex;
  gap: var(--space-sm);
}

.hero__trust-icon {
  width: var(--space-base);
  height: auto;
}

.hero__trust-text {
  color: var(--color-text-muted);
  font-size: var(--fs-sm);
  font-weight: var(--fw-sb);
}

/* ===== FEATURES ===== */

.features__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  align-items: center;
  padding-block: var(--space-2xl);
}

.features__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-2xl);
}

.features__heading {
  color: var(--color-text-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bolder);
}

.features__heading::after {
  content: "";
  display: block;
  width: var(--space-2xl);
  height: var(--space-xs);
  background-color: var(--color-accent);
  margin-inline: auto;
  margin-top: var(--space-sm);
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-lg);
  border-radius: var(--br-xl);
  background-color: var(--color-bg-secondary);
  padding: var(--space-xl);
}

.features__title {
  font-size: var(--fs-lg);
  color: var(--color-text-primary);
  font-weight: var(--fw-sb);
}

.features__description {
  font-size: var(--fs-sm);
  color: var(--color-text-muted);
  font-weight: var(--fw-sb);
}

/* ===== TRUST SECTION ===== */

.trust {
  background-color: var(--color-bg-secondary);
}

.trust__media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-3xl);
  padding: var(--space-3xl) var(--space-2xl);
  position: relative;
}

.trust__experience {
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent);
  padding: var(--space-base);
  align-items: flex-start;
  position: absolute;
  right: var(--space-lg);
  bottom: var(--space-lg);
  border-radius: var(--br-xl);
}

.trust__experience-value {
  font-size: var(--fs-xl);
  font-weight: var(--fw-sb);
}

.trust__experience-text {
  font-size: var(--fs-caption);
  font-weight: var(--fw-sb);
}

.trust__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--space-2xl);
  padding: var(--space-lg);
}

.trust__main-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.trust__kicker {
  color: var(--color-accent);
  font-size: var(--fs-caption);
  font-weight: var(--fw-sb);
}

.trust__heading {
  color: var(--color-text-primary);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bolder);
}

.trust__description {
  color: var(--color-text-muted);
}

.trust__stats {
  display: flex;
}

.trust__stat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.trust__stat-value {
  font-size: var(--fs-3xl);
  color: var(--color-text-primary);
}

.trust__stat-label {
  font-size: var(--fs-lg);
  color: var(--color-text-muted);
}

/* ===== PRICING ===== */

.pricing {
  color: var(--color-text-secondary);
  background-color: var(--color-bg-primary);
}

.pricing__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
  padding-block: var(--space-3xl);
}

.pricing__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}

.pricing__title {
  color: var(--color-text-primary);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bolder);
}

.pricing__subtitle {
  color: var(--color-text-muted);
  font-size: var(--fs-sm);
  padding-inline: var(--space-lg);
  text-align: center;
  font-weight: var(--fw-sb);
}

.pricing__cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-3xl);
}

.pricing__card {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--br-3xl);
  border: 1px solid var(--color-accent);
  padding-inline: var(--space-2xl);
  padding-block: var(--space-2xl);
  gap: var(--space-3xl);
}

.pricing__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.pricing__type {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
}

.pricing__price {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-sb);
}

.fs--sm {
  font-size: var(--fs-sm);
}

.pricing__perks {
  list-style-image: url(./assets/icons/check-mark-accent.svg);
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  color: var(--color-text-muted);
  font-size: var(--fs-sm);
}

.pricing__card .btn {
  align-self: center;
  margin-bottom: var(--space-xl);
}

.pricing__card--highlighted {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-gold-selected);
}

.pricing__card--highlighted .pricing__type {
  color: var(--color-gold-selected);
}

.pricing__card--highlighted .btn {
  color: var(--color-text-secondary);
  background-color: var(--color-gold-selected);
}

.pricing__card--highlighted .btn:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-gold-hover-muted);
}

.pricing__best-value-badge {
  position: absolute;
  top: -1rem; /* Badge exact positioning reasons */
  right: -1rem; /* Badge exact positioning reasons */
  background-color: var(--color-gold-selected);
  color: var(--color-text-secondary);
  transform: rotate(45deg) translate(30%); /* Badge exact positioning reasons */
  padding-inline: var(--space-4xl);
}

/* ===== SUBSCRIPTION ===== */

.subscription__container {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-xl);
  padding: var(--space-3xl) var(--space-2xl);
}

.subscription__image {
  padding-inline: var(--space-xl);
}

.subscription__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.subscription__heading {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bolder);
}

.subscription__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.subscription__description {
  color: var(--color-text-muted);
}

.subscription__form-item {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-base);
  gap: var(--space-sm);
  color: var(--color-text-muted);
}

.subscription__form-item input,
.subscription__form-item select {
  background-color: var(--color-bg-secondary);
  padding-block: var(--space-base);
  padding-left: var(--space-base);
  color: var(--color-text-primary);
  border: none;
  border-radius: var(--br-base);
}

.subscription__form-item select option {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-muted);
}

.subscription__form-checkbox a {
  color: var(--color-accent);
}

.subscription__login {
  text-align: center;
  font-size: var(--fs-caption);
}

.subscription__login a {
  color: var(--color-accent);
}

/* ===== FAQS ===== */

.questions {
  background-color: var(--color-bg-secondary);
}

.questions__container {
  padding-block: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.questions__heading {
  color: var(--color-text-primary);
  text-align: center;
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

.questions__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.questions__item {
  background-color: var(--color-primary);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: var(--space-base);
}

.questions__title {
  color: var(--color-text-primary);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-block: var(--space-base) 0;
  font-weight: var(--fw-bold);
}

.questions__description {
  color: var(--color-text-muted);
}

/* ===== NEWSLETTER ===== */

.newsletter__container {
  background-color: var(--color-bg-primary);
  padding-block: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
  color: var(--color-text-muted);
  text-align: center;
  font-size: var(--fs-caption);
}

.newsletter__title {
  color: var(--color-text-primary);
  text-align: center;
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

.newsletter__description {
  font-size: var(--fs-base);
}

.newsletter__form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--space-md);
}

.newsletter__form input {
  grid-column: 1 / span 4;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-text-muted);
  padding-left: var(--space-base);
  border-radius: var(--br-base);
  color: var(--color-text-primary);
}

/* ===== FOOTER - NAVIGATION ===== */

footer {
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.footer-navigation__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--space-base);
  margin-block: var(--space-2xl);
}

.footer-navigation__logo-media {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.footer-navigation__logo-image {
  width: var(--navbar-logo-width);
  border-radius: var(--br-lg);
}

.footer-navigation__connection-icon img {
  width: var(--space-base);
  height: auto;
}

.footer-navigation__tagline {
  color: var(--color-text-primary);
  font-size: var(--fs-xxs);
}

.footer-navigation__connection {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  gap: var(--space-base);
  padding: 0;
}

.footer-navigation__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--fs-base);
}

.footer-navigation__title {
  color: var(--color-text-primary);
}

.footer-navigation__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.footer-navigation__item {
  font-size: var(--fs-base);
}

.footer-navigation__link {
  color: var(--color-text-muted);
  font-size: var(--fs-base);
}

.footer-navigation__link:visited {
  color: var(--color-text-muted);
}

.footer__location iframe {
  width: 100%;
  border-radius: var(--br-lg);
}

/* ===== FOOTER - CREDENTIALS ===== */

.credentials__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  color: var(--color-text-muted);
  text-align: center;
  padding: var(--space-2xl) var(--space-2xl);
}

.credentials__description {
  font-size: var(--fs-base);
  font-weight: var(--fw-reg);
}

.credentials__disclaimer {
  font-size: var(--fs-sm);
  font-weight: var(--fw-reg);
}

/* ===== UTILITY ===== */

.scroll {
  border-radius: var(--br-base);
  color: var(--color-text-secondary);
  background-color: var(--color-accent);
  padding: var(--space-sm) var(--space-base);
  position: fixed;
  z-index: 1;
  right: var(--space-2xl);
  bottom: var(--space-2xl);
  transition:
    background-color 150ms ease,
    transform 150ms ease;
}

.scroll-image {
  width: 60px;
  height: 60px;
}

.scroll:hover {
  background-color: var(--color-gold-hover);
  box-shadow: 0 var(--space-sm) var(--space-base) rgb(0 0 0 / 0.2);
}

/* ===== LOGIN SCREEN ======  */

.login__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
  max-width: var(--loginscreen-width);
  margin: 35dvh auto;
  padding-inline: var(--space-2xl);
}

.login__info {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.login__info input {
  padding-block: var(--space-md);
}

.login__forget {
  color: var(--color-text-muted);
}

.login__forget a {
  color: var(--color-accent);
}

.login__buttons {
  display: flex;
  justify-content: center;
  gap: var(--space-base);
}
